:root {
  --background-color: #efeeee;
  --primary-color: #5f85e3;
  --secondary-color: #85a4f3;
  --tertiary-color: #aec4fa;
  --quad-color: #dfe8fe;
  --primary-color-comp: #ffc959;
  --secondary-color-comp: #ffd57d;
  --tertiary-color-comp: #ffe2a8;
  --quad-color-comp: #fff4dc;
  --light-color: #ffffff;
  --dark-color: #292e31;
}
.reset {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
}
.borderBottom {
  border-bottom: solid 12px var(--primary-color-comp);
}
.area__main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "mainSection";
}
.homepage_div-button-link {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: solid 3px var(--light-color);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  width: 16rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  -webkit-transition: 0.1s all;
  -webkit-transition-delay: 0.1s;
  -moz-transition: 0.5s all;
  -moz-transition-delay: 0.1s;
  -ms-transition: 0.5s all;
  -ms-transition-delay: 0.1s;
  -o-transition: 0.5s all;
  -o-transition-delay: 0.1s;
  transition: 0.5s all;
  transition-delay: 0.1s;
}
.homepage_div-button-link:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: solid 3px var(--dark-color);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.homepage__div-Area {
  width: 100%;
  grid-area: mainSection;
  background-color: var(--light-color);
}
.hero-header {
  background-color: var(--primary-color);
  padding-bottom: 7rem;
}
.hero-header-text {
  padding: 1rem;
  color: var(--dark-color);
  border-radius: 30px 0 30px 0;
  background: #cccccc;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.7);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-transform: uppercase;
}
.homepage__div-main {
  background-color: var(--light-color);
  padding-bottom: 15rem;
}
.homepage__div-main-container {
  min-height: 50rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [mainInfo-start] 10% [mainImage-start] 1fr [mainImage-end] 10% [mainInfo-end];
  grid-template-rows: [mainInfo-start] 1fr [mainImage-start] 10% [mainInfo-end] 40% [mainImage-end];
}
.homepage__div-main-image {
  grid-area: mainImage;
  max-height: 20rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20em, 2fr));
}
.homepage__div-main-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage__div-main-image-container img {
  border: solid 2px var(--dark-color);
  height: 25rem;
  max-width: 20rem;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  cursor: pointer;
}
.homepage__div-main-image-container img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border: solid 2px var(--primary-color-comp);
  transition: all 1s ease;
}
.homepage__div-main-image-container p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.homepage__div-main-image-container h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.homepage__div-main-info {
  grid-area: mainInfo;
  background-color: var(--primary-color);
  min-height: 30rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas: ". mainTitle ." ". mainContent ." ". . .";
  border-bottom: solid 12px var(--primary-color-comp);
}
.homepage__div-main-title {
  grid-area: mainTitle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.homepage__div-main-title h1 {
  font-size: 3rem;
  color: var(--light-color);
}
.homepage__div-main-content {
  grid-area: mainContent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  color: var(--light-color);
  padding-bottom: 5rem;
}
.homepage__div-animations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15rem;
}
.homepage__div-about {
  background-color: var(--light-color);
  width: 100%;
  padding-bottom: 15rem;
  margin-top: 15rem;
}
.homepage__div-about-container {
  display: grid;
  min-height: 40rem;
  max-height: 50rem;
  width: 100vw;
  grid-template-columns: 10% 30% 20% 30% 10%;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}
.homepage_div-about-info {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  border-bottom: solid 12px var(--primary-color-comp);
}
.homepage_div-about-empty {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 1;
  grid-row: 1 / span 4;
  background-color: var(--primary-color);
  border-bottom: solid 12px var(--primary-color-comp);
}
.homepage_div-about-image {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
.homepage_div-about-image .homepage_div-about-image-container {
  height: 100%;
  width: 100%;
}
.homepage_div-about-image .homepage_div-about-image-container img {
  border: solid 3px var(--dark-color);
  height: 100%;
  width: 100%;
  background-color: var(--dark-color);
}
.homepage_div-about-info-container {
  min-height: 40rem;
  max-height: 50rem;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 60% 10%;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
}
.homepage_div-about-title {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}
.homepage_div-about-title h1 {
  font-size: 3rem;
}
.homepage_div-about-title h4 {
  font-size: 2rem;
}
.homepage_div-about-content {
  grid-column: 2;
  grid-row: 3;
  font-size: 1rem;
  width: 100%;
}
.homepage_div-about-button {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage__div-demo {
  background-color: var(--light-color);
  padding-bottom: 15rem;
  margin-top: 15rem;
  width: 100%;
}
.homepage__div-demo-container {
  min-height: 55rem;
  max-height: 60rem;
  display: grid;
  grid-gap: 1rem;
  width: 100vw;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr 10% 40%;
}
.homepage_div-demo-info {
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 30rem;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: solid 12px var(--primary-color-comp);
}
.homepage_div-demo-info-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
}
.homepage_div-demo-title {
  width: 100%;
  grid-column: 1;
  grid-row: 2;
}
.homepage_div-demo-title h1 {
  font-size: 3rem;
}
.homepage_div-demo-content {
  grid-column: 1;
  grid-row: 3;
  font-size: 1rem;
  width: 100%;
}
.homepage_div-demo-button {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage_div-demo-image {
  grid-column: 2;
  grid-row: 2 / span 2;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage__div-demo-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 65rem;
}
.homepage__div-demo-image-container iframe {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  cursor: pointer;
}
.homepage__div-demo-image-container iframe:hover {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.homepage__div-testimonial {
  background-color: var(--primary-color);
  min-height: 25rem;
  width: 100%;
  display: grid;
  border-bottom: solid 12px var(--primary-color-comp);
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: ". . ." ". testimonialMain ." ". . .";
}
.homepage__div-testimonial h3 {
  font-size: 1.5rem;
  color: var(--light-color);
  font-style: italic;
  padding-left: 5%;
  padding-right: 5%;
}
.homepage__div-testimonial p {
  font-style: bold;
  color: var(--light-color);
  text-transform: uppercase;
  padding-left: 90%;
}
.homepage__div-testimonial-container {
  grid-area: testimonialMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SimpleSlider-carousel {
  text-align: center;
}
.homepage__div-blog {
  background-color: var(--light-color);
  min-height: 40rem;
  padding-top: 15rem;
  margin-bottom: 25rem;
}
.homepage__div-blog-container {
  min-height: 40rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 70% 10%;
}
.homepage_div-blog-image {
  grid-column: 3;
  grid-row: 2 / span 2;
  pointer-events: none;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.homepage_div-blog-image img {
  background-color: var(--dark-color);
  height: 100%;
  width: 100%;
  border: solid 7px var(--primary-color-comp);
}
.homepage_div-blog-info {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: left;
  border-bottom: solid 12px var(--primary-color-comp);
}
.homepage_div-blog-info h1 {
  font-size: 3rem;
  color: var(--light-color);
}
.homepage_div-blog-info h3 {
  font-size: 1.5rem;
  color: var(--light-color);
}
.homepage_div-blog-info-container {
  display: grid;
  height: 100%;
  grid-gap: 2rem;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 1fr 20%;
}
.homepage_div-blog-title {
  grid-column: 2;
  grid-row: 1;
}
.homepage_div-blog-content {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
}
.homepage_div-blog-button {
  justify-content: center;
  grid-column: 2;
  grid-row: 3;
}
@media all and (max-width: 1400px) {
  .homepage__div-demo {
    padding-bottom: 15rem;
    margin-top: 15rem;
  }
  .homepage__div-demo-container {
    min-height: 55rem;
    max-height: 75rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.1fr 1fr;
  }
  .homepage_div-demo-info {
    grid-column: 1;
    grid-row: 1;
    height: 30rem;
  }
  .homepage_div-demo-info-container {
    width: 100%;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  }
  .homepage_div-demo-title {
    grid-column: 2;
    grid-row: 2;
  }
  .homepage_div-demo-content {
    grid-column: 2;
    grid-row: 3;
  }
  .homepage_div-demo-button {
    grid-column: 2;
    grid-row: 4;
  }
  .homepage_div-demo-image {
    grid-column: 1;
    grid-row: 3;
    padding-left: 0;
  }
  .homepage__div-demo-image-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 65rem;
  }
  .homepage__div-demo-image-container iframe {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */
  }
}
@media all and (max-width: 1000px) {
  .area__main {
    text-align: center;
  }
  .area__main h1 {
    font-size: 2rem;
  }
  .area__main h3 {
    font-size: 1.5rem;
  }
  .homepage_div-button-link {
    display: flex;
    justify-content: center;
    width: 95%;
    padding-left: 3%;
  }
  .homepage__div-main-container {
    padding-bottom: 60rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mainInfo" "mainImage";
  }
  .homepage__div-main-image-container img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  .homepage__div-about {
    padding-top: 15rem;
    margin-bottom: 15rem;
    height: 80rem;
  }
  .homepage__div-about-container {
    width: 100vw;
    height: 100%;
    max-height: 75rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.5fr 1fr;
  }
  .homepage_div-about-info {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }
  .homepage_div-about-empty {
    display: none;
  }
  .homepage_div-about-image {
    height: 100%;
    width: 98%;
    grid-column: 1;
    grid-row: 3;
  }
  .homepage_div-about-info-container {
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  }
  .homepage_div-about-title {
    grid-column: 2;
    grid-row: 2;
  }
  .homepage_div-about-content {
    grid-column: 2;
    grid-row: 3;
  }
  .homepage_div-about-button {
    grid-column: 2;
    grid-row: 4;
  }
  .homepage__div-demo {
    padding-bottom: 15rem;
    margin-top: 15rem;
  }
  .homepage__div-demo-container {
    min-height: 55rem;
    max-height: 75rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.1fr 1fr;
  }
  .homepage_div-demo-info {
    grid-column: 1;
    grid-row: 1;
    height: 30rem;
  }
  .homepage_div-demo-info-container {
    width: 100%;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  }
  .homepage_div-demo-title {
    grid-column: 2;
    grid-row: 2;
  }
  .homepage_div-demo-content {
    grid-column: 2;
    grid-row: 3;
  }
  .homepage_div-demo-button {
    grid-column: 2;
    grid-row: 4;
  }
  .homepage_div-demo-image {
    grid-column: 1;
    grid-row: 3;
    padding-left: 0;
  }
  .homepage__div-demo-image-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 65rem;
  }
  .homepage__div-demo-image-container iframe {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* FF 35+ */
  }
  .homepage__div-testimonial {
    margin: 0;
    padding: 0;
  }
  .homepage__div-testimonial h3 {
    font-size: 1rem;
  }
  .homepage__div-testimonial {
    min-height: 25rem;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 100%;
    grid-template-areas: ". testimonialMain .";
  }
  .homepage__div-testimonial h3 {
    padding-left: 0%;
    padding-right: 0%;
  }
  .homepage__div-testimonial p {
    padding-left: 0%;
    padding-top: 3rem;
  }
  .SimpleSlider-carousel {
    text-align: center;
  }
  .homepage__div-blog {
    background-color: var(--light-color);
    padding-top: 15rem;
    margin-bottom: 15rem;
  }
  .homepage__div-blog-container {
    min-height: 55rem;
    max-height: 75rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.1fr 1fr;
  }
  .homepage_div-blog-image {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .homepage_div-blog-info {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
  }
  .homepage_div-blog-info-container {
    display: grid;
    height: 100%;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 0.5fr 1fr 0.5fr;
  }
  .homepage_div-blog-title {
    grid-column: 2;
    grid-row: 1;
  }
  .homepage_div-blog-content {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .homepage_div-blog-button {
    justify-content: center;
    grid-column: 2;
    grid-row: 3;
  }
}
