.reset {
  margin: 0;
  padding: 0;
}
.area__main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "mainSection";
}
.homepage__div-Area {
  width: 100%;
  grid-area: mainSection;
  background-color: #ffffff;
}
.hero-header {
  background-color: #5f85e3;
  padding-bottom: 7rem;
}
.hero-header-text {
  padding: 1rem;
  color: #292e31;
  border-radius: 30px 0 30px 0;
  background: #cccccc;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.7);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-transform: uppercase;
}
.homepage__div-main {
  background-color: #ffffff;
  padding-bottom: 30rem;
}
.homepage__div-main-container {
  min-height: 50rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [mainInfo-start] 10% [mainImage-start] 1fr [mainImage-end] 10% [mainInfo-end];
  grid-template-rows: [mainInfo-start] 1fr [mainImage-start] 10% [mainInfo-end] 40% [mainImage-end];
}
.homepage__div-main-image {
  grid-area: mainImage;
  max-height: 20rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20em, 2fr));
}
.homepage__div-main-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage__div-main-image-container img {
  border: solid 2px #292e31;
  height: 25rem;
  max-width: 20rem;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  cursor: pointer;
}
.homepage__div-main-image-container img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border: solid 2px #ffc959;
  transition: all 1s ease;
}
.homepage__div-main-image-container p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.homepage__div-main-image-container h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.homepage__div-main-info {
  grid-area: mainInfo;
  background-color: #5f85e3;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas: ". mainTitle ." ". mainContent ." ". . .";
}
.homepage__div-main-title {
  grid-area: mainTitle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.homepage__div-main-title h1 {
  font-size: 3rem;
  color: #ffffff;
}
.homepage__div-main-content {
  grid-area: mainContent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  color: #ffffff;
  padding-bottom: 5rem;
}
.homepage__div-about {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 15rem;
}
.homepage__div-about-container {
  display: grid;
  min-height: 40rem;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 100%;
  grid-template-areas: "aboutInfo aboutInfo .";
}
.homepage_div-about-info {
  background: linear-gradient(90deg, #5f85e3 80%, white 20%);
  color: #ffffff;
  grid-area: aboutInfo;
  display: flex;
  flex-direction: column;
  position: relative;
}
.homepage_div-about-info-container {
  padding-left: 20%;
}
.homepage_div-about-title h1 {
  font-size: 3rem;
}
.homepage_div-about-title h4 {
  font-size: 2rem;
  width: 35%;
}
.homepage_div-about-content {
  font-size: 1rem;
  width: 35%;
}
.homepage_div-about-button {
  background-color: #ffffff;
  color: #292e31;
  z-index: 2;
  border: solid 3px #ffc959;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  width: 20%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}
.homepage_div-about-button:hover {
  color: #292e31;
}
.homepage_div-about-image {
  padding-top: 10rem;
  padding-left: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}
.homepage_div-about-image iframe {
  border: solid 3px #292e31;
  height: 20.1rem;
  width: 48rem;
  background-color: #292e31;
}
.homepage__div-demo {
  background-color: #ffffff;
  padding-bottom: 15rem;
  min-height: 40rem;
}
.homepage__div-demo h1 {
  font-size: 3rem;
  color: #ffffff;
}
.homepage__div-demo h3 {
  font-size: 1.5rem;
  color: #ffffff;
}
.homepage__div-demo-container {
  min-height: 40rem;
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  grid-template-columns: 20% [demoInfo-start demoImage-start] 1fr [demoInfo-end demoImage-end] 20%;
  grid-template-rows: [demoInfo-start] 1fr [demoImage-start] 10% [demoInfo-end] 40% [demoImage-end];
}
.homepage_div-demo-info {
  grid-area: demoInfo;
  height: 30rem;
  background-color: #5f85e3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
}
.homepage_div-demo-image {
  grid-area: demoImage;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage__div-demo-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage__div-demo-image-container iframe {
  height: 30rem;
  width: 65rem;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  cursor: pointer;
}
.homepage__div-demo-image-container iframe:hover {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.homepage__div-testimonial {
  background-color: #5f85e3;
  min-height: 25rem;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: ". . ." ". testimonialMain ." ". . .";
}
.homepage__div-testimonial h1 {
  font-size: 3rem;
  color: #ffffff;
}
.homepage__div-testimonial h3 {
  font-size: 1.5rem;
  color: #ffffff;
  font-style: italic;
  padding-left: 5%;
  padding-right: 5%;
}
.homepage__div-testimonial p {
  font-style: bold;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 90%;
}
.homepage__div-testimonial-container {
  grid-area: testimonialMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SimpleSlider-carousel {
  text-align: center;
}
.homepage__div-blog {
  background-color: #ffffff;
  min-height: 40rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.homepage_div-blog-image {
  padding-left: 50%;
  padding-top: 10%;
  position: absolute;
  pointer-events: none;
}
.homepage_div-blog-image img {
  background-color: #292e31;
  height: 30rem;
  width: 50rem;
  border: solid 7px #ffc959;
  z-index: 1;
}
@media all and (max-width: 770px) {
  .homepage__div-main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mainInfo" "mainImage";
  }
  .homepage__div-about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "aboutInfo" "aboutImage";
  }
  .homepage_div-about-info {
    background: #5f85e3;
    justify-content: center;
    grid-area: none;
  }
  .homepage_div-about-info-container {
    grid-area: aboutInfo;
    padding-left: 0%;
  }
  .homepage_div-about-title h4 {
    width: 100%;
  }
  .homepage_div-about-content {
    width: 100%;
  }
  .homepage_div-about-image {
    grid-area: aboutImage;
    padding-top: 0rem;
    padding-left: 0%;
    pointer-events: none;
    position: static;
  }
  .homepage_div-about-image iframe {
    height: 14.1rem;
    width: 30rem;
  }
  .homepage__div-demo-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "demoInfo" "demoImage";
  }
  .homepage_div-demo-image {
    padding-left: 0;
  }
  .homepage__div-demo-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .homepage__div-demo-image-container iframe {
    height: 100%;
    width: 100%;
  }
}
