.reset {
  margin: 0;
  padding: 0;
}
.reset {
  margin: 0;
  padding: 0;
}
.borderBottom {
  border-bottom: solid 12px #ffc959;
}
.area__main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "mainSection";
}
.homepage_div-button-link {
  background-color: #292e31;
  color: #ffffff;
  border: solid 3px #ffffff;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  width: 16rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  -webkit-transition: 0.1s all;
  -webkit-transition-delay: 0.1s;
  -moz-transition: 0.5s all;
  -moz-transition-delay: 0.1s;
  -ms-transition: 0.5s all;
  -ms-transition-delay: 0.1s;
  -o-transition: 0.5s all;
  -o-transition-delay: 0.1s;
  transition: 0.5s all;
  transition-delay: 0.1s;
}
.homepage_div-button-link:hover {
  background-color: #ffffff;
  color: #292e31;
  border: solid 3px #292e31;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.homepage__div-Area {
  width: 100%;
  grid-area: mainSection;
  background-color: #ffffff;
}
.hero-header {
  background-color: #5f85e3;
  padding-bottom: 7rem;
}
.hero-header-text {
  padding: 1rem;
  color: #292e31;
  border-radius: 30px 0 30px 0;
  background: #cccccc;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.7);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-transform: uppercase;
}
.homepage__div-main {
  background-color: #ffffff;
  padding-bottom: 15rem;
}
.homepage__div-main-container {
  min-height: 50rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [mainInfo-start] 10% [mainImage-start] 1fr [mainImage-end] 10% [mainInfo-end];
  grid-template-rows: [mainInfo-start] 1fr [mainImage-start] 10% [mainInfo-end] 40% [mainImage-end];
}
.homepage__div-main-image {
  grid-area: mainImage;
  max-height: 20rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20em, 2fr));
}
.homepage__div-main-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.homepage__div-main-image-container img {
  border: solid 2px #292e31;
  height: 25rem;
  max-width: 20rem;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  cursor: pointer;
}
.homepage__div-main-image-container img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border: solid 2px #ffc959;
  transition: all 1s ease;
}
.homepage__div-main-image-container p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.homepage__div-main-image-container h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.homepage__div-main-info {
  grid-area: mainInfo;
  background-color: #5f85e3;
  min-height: 30rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 70% 10%;
  grid-template-areas: ". mainTitle ." ". mainContent ." ". . .";
  border-bottom: solid 12px #ffc959;
}
.homepage__div-main-title {
  grid-area: mainTitle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.homepage__div-main-title h1 {
  font-size: 3rem;
  color: #ffffff;
}
.homepage__div-main-content {
  grid-area: mainContent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  color: #ffffff;
  padding-bottom: 5rem;
}
.homepage__div-animations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15rem;
}
.homepage__div-about {
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 15rem;
}
.homepage__div-about-container {
  display: grid;
  min-height: 40rem;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 100%;
  grid-template-areas: "aboutInfo aboutInfo .";
}
.homepage_div-about-info {
  background: linear-gradient(90deg, #5f85e3 80%, white 20%);
  color: #ffffff;
  grid-area: aboutInfo;
  display: flex;
  flex-direction: column;
  position: relative;
}
.homepage_div-about-info:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  border-bottom: solid 12px #ffc959;
}
.homepage_div-about-info-container {
  padding-left: 20%;
}
.homepage_div-about-title h1 {
  font-size: 3rem;
}
.homepage_div-about-title h4 {
  font-size: 2rem;
  width: 35%;
}
.homepage_div-about-content {
  font-size: 1rem;
  width: 35%;
}
.homepage_div-about-button {
  display: flex;
}
.homepage_div-about-image {
  padding-top: 10rem;
  padding-left: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  height: 50%;
  width: 50%;
}
.homepage_div-about-image img {
  border: solid 3px #292e31;
  height: 100%;
  width: 100%;
  background-color: #292e31;
}
.homepage__div-demo {
  background-color: #ffffff;
  padding-bottom: 15rem;
  min-height: 40rem;
}
.homepage__div-demo h1 {
  font-size: 3rem;
  color: #ffffff;
}
.homepage__div-demo h3 {
  font-size: 1.5rem;
  color: #ffffff;
}
.homepage__div-demo-container {
  min-height: 40rem;
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  grid-template-columns: 20% [demoInfo-start demoImage-start] 1fr [demoInfo-end demoImage-end] 20%;
  grid-template-rows: [demoInfo-start] 1fr [demoImage-start] 10% [demoInfo-end] 40% [demoImage-end];
}
.homepage_div-demo-info {
  grid-area: demoInfo;
  height: 30rem;
  background-color: #5f85e3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: solid 12px #ffc959;
}
.homepage_div-demo-image {
  grid-area: demoImage;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage__div-demo-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 65rem;
}
.homepage__div-demo-image-container iframe {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  cursor: pointer;
}
.homepage__div-demo-image-container iframe:hover {
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.homepage__div-testimonial {
  background-color: #5f85e3;
  min-height: 25rem;
  width: 100%;
  display: grid;
  border-bottom: solid 12px #ffc959;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: ". . ." ". testimonialMain ." ". . .";
}
.homepage__div-testimonial h3 {
  font-size: 1.5rem;
  color: #ffffff;
  font-style: italic;
  padding-left: 5%;
  padding-right: 5%;
}
.homepage__div-testimonial p {
  font-style: bold;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 90%;
}
.homepage__div-testimonial-container {
  grid-area: testimonialMain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SimpleSlider-carousel {
  text-align: center;
}
.homepage__div-blog {
  background-color: #ffffff;
  min-height: 40rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.homepage__div-blog-container {
  min-height: 40rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [blogInfo-start] 10% [blogInfo-start] 1fr [blogImage-start] 1fr [blogImage-end] 10%;
  grid-template-rows: [blogInfo-start] 1fr [blogImage-start] 70% [blogInfo-end] 10% [blogImage-end];
}
.homepage_div-blog-image {
  grid-area: blogImage;
  pointer-events: none;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.homepage_div-blog-image img {
  background-color: #292e31;
  height: 100%;
  width: 100%;
  border: solid 7px #ffc959;
}
.homepage_div-blog-info {
  grid-area: blogInfo;
  background-color: #5f85e3;
  color: #ffffff;
  text-align: left;
  border-bottom: solid 12px #ffc959;
}
.homepage_div-blog-info h1 {
  font-size: 3rem;
  color: #ffffff;
}
.homepage_div-blog-info h3 {
  font-size: 1.5rem;
  color: #ffffff;
}
.homepage_div-blog-info-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 30% 1fr 20%;
  grid-template-areas: ". blogHeader ." ". blogBody ." ". blogButton .";
}
.homepage_div-blog-title {
  grid-area: blogHeader;
}
.homepage_div-about-content {
  grid-area: blogBody;
}
.homepage_div-blog-button {
  justify-content: center;
  grid-area: blogButton;
}
@media all and (max-width: 1400px) {
  .homepage__div-demo-container {
    width: 100%;
    grid-template-columns: [demoInfo demoImage] 100%;
    grid-template-rows: [demoInfo-start] 1fr [demoImage-start] 10% [demoInfo-end] 40%;
  }
}
@media all and (max-width: 1000px) {
  .area__main {
    text-align: center;
  }
  .area__main h1 {
    font-size: 2rem;
  }
  .area__main h3 {
    font-size: 1.5rem;
  }
  .homepage_div-button-link {
    display: flex;
    justify-content: center;
    width: 95%;
    padding-left: 3%;
  }
  .homepage__div-main-container {
    padding-bottom: 60rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mainInfo" "mainImage";
  }
  .homepage__div-main-image-container img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  .homepage__div-animations {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 7rem;
    padding-top: 15rem;
  }
  .homepage__div-about {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .homepage__div-about-container {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    grid-template-areas: "aboutInfo" "aboutImage";
  }
  .homepage_div-about-info {
    background: #5f85e3;
    justify-content: center;
    grid-area: none;
  }
  .homepage_div-about-info:before {
    width: 100%;
  }
  .homepage_div-about-info-container {
    grid-area: aboutInfo;
    margin: 0;
    padding: 0;
  }
  .homepage_div-about-title h4 {
    width: 100%;
  }
  .homepage_div-about-content {
    width: 100%;
  }
  .homepage_div-about-image {
    grid-area: aboutImage;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: static;
    height: 100%;
    width: 95%;
    padding-left: 1.5%;
    padding-right: 1%;
  }
  .homepage__div-demo {
    margin: 0;
    padding: 0;
  }
  .homepage__div-demo-container {
    width: 100vw;
    grid-gap: 2rem;
    grid-template-columns: [demoInfo demoImage] 100%;
    grid-template-rows: [demoInfo-start] 1fr [demoImage-start] 10% [demoInfo-end] 40%;
  }
  .homepage_div-demo-image {
    padding-left: 0;
  }
  .homepage__div-demo-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 10rem;
  }
  .homepage__div-testimonial {
    margin: 0;
    padding: 0;
  }
  .homepage__div-testimonial h3 {
    font-size: 1rem;
  }
  .homepage__div-testimonial {
    min-height: 25rem;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 100%;
    grid-template-areas: ". testimonialMain .";
  }
  .homepage__div-testimonial h3 {
    padding-left: 0%;
    padding-right: 0%;
  }
  .homepage__div-testimonial p {
    padding-left: 0%;
    padding-top: 3rem;
  }
  .SimpleSlider-carousel {
    text-align: center;
  }
  .homepage__div-blog-container {
    min-height: 50rem;
    display: grid;
    grid-gap: 2rem;
    width: 100vw;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "blogInfo" "blogImage";
  }
  .homepage_div-blog-image {
    width: 96%;
  }
  .homepage_div-blog-info-container {
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "blogHeader" "blogBody" "blogButton";
  }
}
