.reset {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfe8fe;
  color: #292e31;
}
.App {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: #ffc959;
  color: #292e31;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(55rem, auto) auto;
  grid-template-areas: "headerArea" "mainArea" "footerArea";
  grid-gap: 5px;
}
.area__header {
  grid-area: headerArea;
}
.area__main {
  grid-area: mainArea;
}
.area__footer {
  grid-area: footerArea;
}
.area__main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "mainSection";
}
.homepage__div-Area {
  width: 100%;
  grid-area: mainSection;
  background-color: #dfe8fe;
  display: flex;
  flex-direction: column;
}
.homepage__div-info {
  width: 100%;
  min-height: 30rem;
  background-color: #dfe8fe;
}
.about__div {
  width: 100%;
  min-height: 30rem;
}
.lessonDashboard__div {
  width: 100%;
  min-height: 30rem;
}
.about__div-Area {
  width: 100%;
  grid-area: mainSection;
  background-color: #ffffff;
}
.lessonDashboard__div-Area {
  width: 100%;
  grid-area: mainSection;
  background-color: #dfe8fe;
}
.lessons_div {
  min-height: 30rem;
  background-color: #dfe8fe;
}
.lessonDashboard__div-container,
.lessonLesson__div-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 1rem;
}
.lessonDashboard__card {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 28%;
  background-color: #fff4dc;
  cursor: pointer;
  margin: 1rem;
}
.lessonDashboard__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffd57d;
}
.lessonDashboard__card-container,
.lessonLesson__card-container {
  padding: 2px 16px;
}
.lessonLesson__card {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 15rem;
  background-color: #fff4dc;
  cursor: pointer;
  margin: 1rem;
}
.lessonLesson__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffd57d;
}
.temp-div-img {
  background-color: #5f85e3;
  height: 12rem;
  width: 100%;
}
.temp-div-youtube {
  background-color: #5f85e3;
  height: 120px;
  width: 213px;
}
