.reset {
  margin: 0;
  padding: 0;
}
svg {
  height: 4rem;
}
li {
  text-decoration: none;
}
a {
  text-decoration: none;
}
.hamburger {
  background: none;
  border: none;
  float: right;
  font-size: 1.8rem;
  padding-right: 2rem;
  margin-bottom: 0.4rem;
  color: #ffc959;
}
header {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 2rem;
}
.header__nav {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-template-areas: "headerLogo headerNav";
}
.header__nav-ul-logo {
  margin: 0;
  padding: 0;
  grid-area: headerLogo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__nav-ul {
  margin: 0;
  padding: 0;
  grid-area: headerNav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-size: 1.5rem;
  height: 100%;
}
.header__nav-li {
  flex: 1;
  text-decoration: none;
}
.header__nav-li,
.header__nav-li-right {
  color: #5f85e3;
  text-decoration: none;
  padding: 2rem 1rem;
  height: 100%;
}
.header__nav-li-right:hover,
.active {
  background-color: #ffc959;
  color: #292e31;
}
@media all and (max-width: 770px) {
  .header__nav-ul {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .header__nav-ul li {
    flex: 1 1 50%;
    text-decoration: none;
  }
  .header__nav-li,
  .header__nav-li-right {
    flex-basis: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }
  .header__nav-li-right:hover,
  .active {
    color: #ffc959;
    background-color: inherit;
  }
}
@media all and (max-width: 770px) {
  .header__nav {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "headerLogo" "headerNav";
  }
  .header__nav-ul > li {
    flex: 1 1 100%;
    padding: 1rem 1rem;
  }
}
