@import "context.less";

.footer-distributed {
    background-color: @dark-color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 1rem "Source Sans Pro", sans-serif;
    padding: 2.8rem 3rem;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 100%;
    grid-template-areas: ". leftSec rightSec .";
}

.footer-distributed .footer-left,
.footer-distributed .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer left */
.footer-distributed .footer-left {
    grid-area: leftSec;
}

/* The company logo */
.footer-distributed h3 {
    color: @light-color;
    font: normal 2rem "Source Sans Pro", sans-serif;
    margin: 0;
    span {
        color: @primary-color;
    }
}

/* Footer links */
.footer-distributed .footer-links {
    color: @light-color;
    margin: 1.2rem 0 0.8rem;
    padding: 0;
    a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: @primary-color-comp;
        }
    }
}

.footer-distributed .footer-company-name {
    color: @primary-color-comp;
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    grid-area: centerSec;
    i {
        background-color: @dark-color;
        color: @light-color;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
        &:hover {
            color: @primary-color-comp;
        }
    }
}

.footer-distributed .footer-center i {
    font-size: 1rem;
    line-height: 2.4rem;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: @light-color;
    vertical-align: middle;
    margin: 0;
    span {
        display: block;
        font-weight: normal;
        font-size: 1rem;
        line-height: 2;
    }
    a {
        color: @primary-color;
        text-decoration: none;
    }
}

/* Footer Right */
.footer-distributed .footer-right {
    grid-area: rightSec;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: @primary-color-comp;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.footer-distributed .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    height: 3rem;
    a {
        cursor: pointer;
        background-color: @dark-color;
        color: @light-color;
        text-decoration: none;
        &:hover {
            color: @primary-color-comp;
        }
    }
    i svg {
        height: 2rem;
    }
}

@media all and (max-width: 1000px) {
    .footer-distributed {
        .reset;
        font-size: 0.7rem;
        padding: 1rem;
    }
}

@media all and (max-width: 770px) {
    .footer-distributed {
        font-size: 1rem;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 20%;
        grid-template-areas:
            "leftSec"
            "rightSec"
            ".";
        text-align: center;
    }
    .footer-center {
        display: none !important;
    }
    .footer-company-about {
        display: none !important;
    }
}
