@import "context.less";
.reset{
    margin: 0;
    padding: 0; 
}

.borderBottom{
    border-bottom: solid 12px @primary-color-comp;
}

// Main area ///////////////////////////////////////////////////////////////////////////////
.area__main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "mainSection"; 
}

// generics
.homepage_div-button-link{
    background-color: @dark-color;
    color: @light-color;
    border: solid 3px @light-color;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: 16rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    -webkit-transition: .1s all;   
    -webkit-transition-delay: .1s; 
    -moz-transition: .5s all;   
    -moz-transition-delay: .1s; 
    -ms-transition: .5s all;   
    -ms-transition-delay: .1s; 
    -o-transition: .5s all;   
    -o-transition-delay: .1s; 
    transition: .5s all;   
    transition-delay: .1s; 
    &:hover{
        background-color: @light-color;
        color: @dark-color;
        border: solid 3px @dark-color;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
}


//Home page ///////////////////////////////////////////////////////////////////////////////
// homepage main div which holds all the html elements
.homepage__div-Area{
    width: 100%;
    grid-area: mainSection;
    background-color: @light-color;
}

// hero image
.hero-header{
    background-color: @primary-color;
    padding-bottom: 7rem;
}
.hero-header-text{
    padding: 1rem;
    color: @dark-color;
    border-radius: 30px 0 30px 0;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.7);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-transform: uppercase;
}

// home main
.homepage__div-main{
    background-color: @light-color;
    padding-bottom: 15rem;   
}
.homepage__div-main-container{
    min-height: 50rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: [mainInfo-start] 10% [mainImage-start] 1fr [mainImage-end] 10% [mainInfo-end];
    grid-template-rows: [mainInfo-start] 1fr [mainImage-start] 10% [mainInfo-end] 40% [mainImage-end];                
}
.homepage__div-main-image{
    grid-area: mainImage;
    max-height: 20rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20em, 2fr));
}
.homepage__div-main-image-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img{
        border: solid 2px @dark-color;
        height: 25rem;
        max-width: 20rem;
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%);
        cursor: pointer;
        &:hover{
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            border: solid 2px @primary-color-comp;
            transition: all 1s ease;
        }
    }
    p{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    h3{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}
.homepage__div-main-info{
    grid-area: mainInfo;
    background-color: @primary-color;
    min-height: 30rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas:    ". mainTitle ." 
                            ". mainContent ."
                            ". . .";
    .borderBottom;
}
.homepage__div-main-title{
    grid-area: mainTitle;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    h1{
        font-size: 3rem;
        color: @light-color; 
    }
}
.homepage__div-main-content{
    grid-area: mainContent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    color: @light-color;
    padding-bottom: 5rem;
}

.homepage__div-animations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 15rem;  
}

// about area
.homepage__div-about{
    background-color: @light-color;
    width: 100%;
    padding-bottom: 15rem;
}
.homepage__div-about-container{
    display: grid;
    min-height: 40rem;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 100%;
    grid-template-areas:    "aboutInfo aboutInfo .";
}
.homepage_div-about-info{
    background: linear-gradient(90deg, @primary-color 80%, white 20%);
    color: @light-color;
    grid-area: aboutInfo;
    display: flex;
    flex-direction: column;
    position: relative;
}
.homepage_div-about-info-container{
    padding-left: 20%;
}
.homepage_div-about-title{
    h1{
        font-size: 3rem;
    }
    h4{
        font-size: 2rem;
        width: 35%;
    }
}
.homepage_div-about-content{
    font-size: 1rem;
    width: 35%;
}
.homepage_div-about-button{
    display: flex;
}
.homepage_div-about-image{
    padding-top: 10rem;
    padding-left: 50%;
    z-index: 1;
    position: absolute;
    pointer-events: none;
    height: 50%;
    width: 50%;
    iframe{
        border: solid 3px @dark-color; 
        height: 100%;
        width: 100%;
        background-color: @dark-color;  
    }
}


// demo area
.homepage__div-demo{
    background-color: @light-color;
    padding-bottom: 15rem;
    min-height: 40rem;
    h1{
        font-size: 3rem;
        color: @light-color; 
    }
    h3{
        font-size: 1.5rem;
        color: @light-color; 
    }
}
.homepage__div-demo-container{
    min-height: 40rem;
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns:  20% [demoInfo-start demoImage-start] 1fr [demoInfo-end demoImage-end] 20% ;
    grid-template-rows: [demoInfo-start] 1fr [demoImage-start] 10% [demoInfo-end] 40% [demoImage-end];
}
.homepage_div-demo-info{
    grid-area: demoInfo;
    height: 30rem;
    background-color: @primary-color;
    color: @light-color;
    display: flex;
    justify-content: center;
    .borderBottom;
}
.homepage_div-demo-image{
    grid-area: demoImage;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

.homepage__div-demo-image-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // padding-left: 3rem;
    height: 30rem;
    width: 65rem;
    iframe{
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(90%);
        filter: grayscale(90%);
        cursor: pointer;
        &:hover{
            -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
            filter: grayscale(0%); /* FF 35+ */
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
    }
}


// testimonial
.homepage__div-testimonial{
    background-color: @primary-color;
    min-height: 25rem;
    width: 100%;
    display: grid;
    .borderBottom;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:    ". . ."
                            ". testimonialMain ."
                            ". . ."; 
    h3{
        font-size: 1.5rem;
        color: @light-color; 
        font-style: italic;
        padding-left: 5%;  
        padding-right: 5%;
    }
    p{
        font-style: bold;
        color: @light-color;
        text-transform: uppercase;
        padding-left: 90%;
    }
    
}
.homepage__div-testimonial-container{
    grid-area: testimonialMain;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SimpleSlider-carousel{
    text-align: center;
}


// blog area
.homepage__div-blog{
    background-color: @light-color;
    min-height: 40rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.homepage__div-blog-container{
    min-height: 50rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: [blogInfo-start] 10% [blogInfo-start] 1fr [blogImage-start] 1fr [blogImage-end];
    grid-template-rows: [blogInfo-start] 1fr [blogImage-start] 10% [blogInfo-end] 40% [blogImage-end];                
}
.homepage_div-blog-image{
    grid-area: blogImage;
    pointer-events: none;
    height: 100%;
    width: 100%;
    img{
        background-color: @dark-color;
        height: 100%;
        width: 100%;
        border: solid 7px @primary-color-comp;
    }
}
.homepage_div-blog-info{
    grid-area: blogInfo;
    background-color: @primary-color;
    color: @light-color;
    .borderBottom;
    h1{
        font-size: 3rem;
        color: @light-color; 
    }
    h3{
        font-size: 1.5rem;
        color: @light-color; 
    }
}


@media all and (max-width: 770px) {
    .area__main{
        text-align: center;
        h1{
            font-size: 2rem;
        }
        h3{
            font-size: 1.5rem;
        }
    }

    .homepage_div-button-link{
        display: flex;
        justify-content: center;
        width: 95%;
        padding-left: 3%;
    }

    .homepage__div-main-container{
        padding-bottom: 60rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "mainInfo"
                                "mainImage";     
    }
    .homepage__div-main-image-container{
        img{
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }

    .homepage__div-animations{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 7rem;  
        padding-top: 15rem;  
    }

    .homepage__div-about{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .homepage__div-about-container{
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0;
        grid-template-areas:    "aboutInfo" 
                                "aboutImage";
    }
    .homepage_div-about-info{
        background: @primary-color;
        justify-content: center;
        grid-area: none;
    }
    .homepage_div-about-info-container{
        grid-area: aboutInfo;
        .reset;
    }
    .homepage_div-about-title{
        h4{
            width: 100%;
        }
    }
    .homepage_div-about-content{
        width: 100%;
    } 
    .homepage_div-about-image{
        grid-area: aboutImage;
        .reset;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: static;
        height: 100%;
        width: 95%;
        padding-left: 1.5%;
        padding-right: 1%;
    }

    .homepage__div-demo{
        .reset;
    }
    .homepage__div-demo-container{
        width: 100vw;
        grid-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:    "demoInfo"
                                "demoImage";  
    }
    .homepage_div-demo-image{
        padding-left: 0;
    }
    .homepage__div-demo-image-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 10rem;
    }

    .homepage__div-testimonial{
        .reset;
        h3{
            font-size: 1rem;
        }
    }

    .homepage__div-blog-container{
        min-height: 50rem;
        display: grid;
        grid-gap: 2rem;
        width: 100vw;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-template-areas:    "blogInfo"
                                "blogImage";              
    }
    .homepage_div-blog-image{
        width: 96%;

    }
}
