@import "context.less";

body {
    .reset;
    font-family: @font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: @quad-color;
    color: @dark-color;
}

// main app
.App{
    .reset;
    display: grid;
    background-color: @quad-color;
    color: @dark-color;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr minmax(55rem, auto) 1fr;
    grid-template-areas:    "headerArea" 
                            "mainArea"
                            "footerArea"
}

// Setting grid areas
.area__header{
    grid-area: headerArea;
}

.area__main{
    grid-area: mainArea;
}

.area__footer{
    grid-area: footerArea;
}


// Main area
.area__main{
    display: grid;
    grid-template-columns: 10% 70% auto;
    grid-template-rows: 100%;
    grid-template-areas: "space mainSection space2" 
}

//Home page
.homepage__div-Area{
    width:100%;
    grid-area: mainSection;
}

.homepage__div-info{
    width: 100%;
    min-height: 30rem;
    background-color: @tertiary-color;
}

.about__div{
    width:100%;
    min-height: 30rem;
    background-color: @quad-color-comp;
}

.lessonDashboard__div{
    width:100%;
    min-height: 30rem;
    background-color: @quad-color;
}

//About
.about__div-Area{
    width:100%;
    grid-area: mainSection;
}

//Lessons
.lessonDashboard__div-Area{
    width:100%;
    grid-area: mainSection;
}