// Variables
@background-color: #efeeee;
@font-family: Tahoma;

@primary-color: #5f85e3;
@secondary-color: #85a4f3;
@tertiary-color: #aec4fa;
@quad-color: #dfe8fe;

@primary-color-comp: #ffc959;
@secondary-color-comp: #ffd57d;
@tertiary-color-comp: #ffe2a8;
@quad-color-comp: #fff4dc;

@light-color: #efeeee;
@dark-color: #575757;
@line-height: 1rem + 1em;


body {
    .reset;
    font-family: @font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: @quad-color;
    color: @dark-color;
}

.reset{
    margin: 0;
    padding: 0;
}

h1{
    color: @primary-color;
}